* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: auto;
  padding: auto;
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  font: 10px sans-serif;
}
 
.marginArea,
.dataArea {
}

.axis line,
.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.article {
  opacity: 0.5;
  fill: red;
}
 
