/* * { */
/*   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */
/*   margin: auto; */
/*   padding: auto; */
/* } */

body {
  font: 10px sans-serif;
  width: 100%;
  height: 100%;
}

#chart {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  heigth: 100%;
}

#control_panel {
  position: absolute; 
  float: right;
  top: 0px;
  right: 0px;
  margin: 10px;
  padding: 10px;
  border:2px solid;
  border-radius:5px;
  background: red;
  width: 200px;
  height: 200px;
}
 
.marginArea,.dataArea {
}

.axis line,
.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis {
  cursor: pointer;
}

.article {
  opacity: 0.5;
  cursor:pointer;
}

#article_viewer {
  background-color:white;
  font-family:helvetica, sans-serif;
  font-size: 14pt;
  opacity: 0.8;
  height: 100%;
  width:40%;
  display:none;
  position: absolute;
  left:0;
  top:0;
  padding:10px;
  overflow: scroll;
}

#article_viewer p {
  margin-bottom: 0px; }
#article_viewer p + p {
  text-indent: 1.5em;
  margin-top: 10px; }


#article_viewer:hover {
  opacity: 1.0;
}

.category {
  text-transform: capitalize;
  font-size: 40px;
  font-weight: bold;
  opacity: 0.4;
  fill: #000;
}
 
.link {
  opacity: 0.05;
  stroke: black;
  stroke-linecap: round;
  stroke-width: 6px;
}
